<div [ngSwitch]="roleUser" class="store-width">

  <div *ngSwitchCase="'seller'">
    <button type="button" [routerLink]="['/add-store']" class="btn btn-outline-primary add-store-btn">Add Store</button>
    
    <div class="stores-container">

      <div class="card" *ngFor="let stores of stores">
        <div class="card-body">
          <h5 class="card-title full-width">Store #{{stores.id}}</h5>
          <p class="card-text full-width">Owner : {{stores.owner}}</p>
          <button type="button" [routerLink]="['/store/',stores.id]" class="btn btn-outline-primary add-pet-btn">+</button>
        </div>
      </div>
      
    </div>
  </div>
    

  <div *ngSwitchCase="'buyer'">
    <div class="card" *ngFor="let stores of stores">
      <div class="card-body">
        <h5 class="card-title full-width">Store #{{stores.id}}</h5>
        <p class="card-text full-width">Owner : {{stores.owner}}</p>
        <button type="button" (click)="checkPets()" class="btn btn-outline-primary add-pet-btn">Pets</button>
      </div>
    </div>
  </div>

</div>
